
p { 
width:600px;
background-color: #6A7AB5;
padding: 10px;
margin: 10px;
color: purple;
 }
body {

background-image: url("slike/0.jpg");

font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 16px;
color: red;
}

li {display: inline;}

a:link {
background-color: red;
padding: 5px;
margin: 5px;
border-style: solid;
border: 2px solid black;
border-radius: 5px;
line-height: 35px;
}

@font-face {font-family: 'IvanTrobic'; src:url("Dokumenti/IvanTrobic.ttf");}

h1 {
font-family:"IvanTrobic";
font-size: 64px;
}